# Отключает назойливые сообщения о финансировании (funding)
fund=false

# Игнорирует скрипты postinstall (уменьшает риски уязвимостей)
ignore-scripts=true

# Запрещает использование небезопасных зависимостей
engine-strict=true

# Использует только точные версии пакетов (уменьшает конфликты)
save-exact=true

# Автоматически исправляет уязвимости при установке
audit-level=high
audit=true